* {
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-snap-type: y mandatory;
  }
  
  body {
    color: white;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .app__videos {
    position: relative;
    height: 750px;
    background-color: white;
    overflow: scroll;
    width: 100%;
    max-width: 400px;
    scroll-snap-type: y mandatory;
    border-radius: 20px;
  }
  
  .app__videos::-webkit-scrollbar {
    display: none;
  }
  
  .app__videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .video {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    scroll-snap-align: start;
  }
  
  .video__player {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .videoSidebar {
    position: absolute;
      top: 40%;
      right: -10px;
  }
  .img img{
    width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
  }
  .img{
    position: relative;
    right: -19px;
    top: 10px;
    cursor: pointer;
  }
  .img::before{
    content: '+';
    position: absolute;
    top: 30px;
    left: 10px;
    width: 18px;
    height: 18px;
    background: #ff0000;
    border-radius: 50%;
    font-size: 0.9em;
    text-align: center;
    line-height: 18px;
  }
  .img.followed::before{
    content: '✓';
    position: absolute;
    top: 30px;
    left: 10px;
    width: 18px;
    height: 18px;
    background: #FF0544;
    border-radius: 50%;
    font-size: 0.9em;
    text-align: center;
    line-height: 18px;
  }
  .img.fade::before{
    animation: fade 0.9s linear;
    opacity: 0;
  }
  .videoSidebar .material-icons {
    font-size: 28px;
    cursor: pointer;
  }
  
  .videoSidebar__button {
    padding: 20px;
    text-align: center;
    
  }
  .heart{
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .videoFooter {
    position: relative;
    bottom: 130px;
    margin-left: 15px;
    color: white;
    display: flex;
  }s
  .prev{
    position: absolute;
    top: 70%;
    left: 9px;
    z-index: 999;
    font-size: 2em;
    color: #ff0000;
    cursor: pointer;
  }
  .next{
    position: absolute;
    top: 73%;
    right: -7px;
    z-index: 999;
    font-size: 2em;
    color: #ff0000;
    cursor: pointer;
  }
  
  @keyframes spinTheRecord {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes fade {
    50%{
        opacity: 0.5;
    }
    70%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
    }
  }
  .play_pause{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    font-size: 6em;
  }
  .play_pause.show{
    opacity: 1;
    pointer-events: none;
  }
  
  .videoFooter__record {
    animation: spinTheRecord infinite 5s linear;
    height: 50px;
    filter: invert(1);
    position: absolute;
    bottom: 0;
    right: 20px;
  }
  
  .videoFooter__text {
    flex: 1;
  }
  
  .videoFooter__text h3 {
    padding-bottom: 20px;
  }
  
  .videoFooter__icon {
    position: absolute;
  }
  
  .videoFooter__ticker {
    width: 400px;
    display: flex;
    align-items: center;
  }
  
  .videoFooter__ticker marquee {
    height: fit-content;
    margin-left: 30px;
    width: 60%;
  }
  
  .videoFooter__description {
    padding-bottom: 20px;
  }
  
  